
$font-family-base: 'Open Sans', sans-serif;

@import "bootstrap";
@import "../bower/sass-helper/dist/sass-helper";
@import "../bower/gridlex/src/gridlex-vars";
@import "../bower/gridlex/src/gridlex";

[class*="grid"] {
    margin: 0 -1.5rem;
}

.col, [class*="col-"] {
    padding: 0 1.5rem 1.5rem;
}

.container {
    max-width: rem(1200);

    @extend %block-center, %indent-0-1;
}